.product-card {
  padding: 0 30px;
  cursor: pointer;
  &:hover {
    .product-box-shadow {
      box-shadow: $box-shadow;
      transition: all ease-in-out 0.3s;
    }
    .hover-items-image {
      .card-hover-items {
        visibility: visible;
      }
    }
  }
  .hover-items-image {
    position: relative;
    display: flex;
    justify-content: center;
    .card-hover-items {
      position: absolute;
      bottom: 15px;
      display: flex;
      justify-content: space-between;
      background: #fff;
      padding: 5px;
      box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
      visibility: hidden;
      // transition: all ease-in-out 0.3s;
      .card-items {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid $border-color;
        cursor: pointer;
        &:last-child {
          border-right: 0px;
        }
        img {
          height: 18px;
        }
      }
    }
    .image {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .card-body {
    padding: 5px 10px;
    border: 1px solid #f7f7f7;
    border-top: 0px;
    .card-category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      .cate {
        color: $light-text-color;
      }
      .stars {
        i {
          color: $tertiary-color;
          padding-left: 5px;
        }
      }
    }
    .prod-price {
      color: $primary-color;
    }
  }
}
