.main-carousel {
  .img-text {
    position: relative;
    .carousel-text {
      position: absolute;
      top: 25%;
      left: 8%;
      text-align: left;
      h2 {
        margin-bottom: 0px;
      }
      .main-text {
        font-size: 75px;
        font-weight: bold;
        line-height: 60px;
      }
    }
    img {
      width: 100%;
    }
  }
}

.slick-dots{
  width: auto !important;
}

.ant-carousel {
  .slick-dots {
    li {
      width: 10px !important;
      &.slick-active {
        width: 10px !important;
        button {
          background: #61ce70 !important;
          opacity: 1 !important;
        }
      }
      button {
        width: 10px !important;
        border-radius: 50% !important;
        background: #d1d1d1 !important;
        opacity: 1 !important;
      }
    }
  }
  .slick-dots-bottom{
    bottom: 25px !important;
  }
}

.ant-carousel .slick-dots li button:focus,
.ant-carousel .slick-dots li button:hover {
  opacity: 1 !important;
}

.ant-carousel .slick-dots li,
.ant-carousel .slick-dots li button {
  height: 10px !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  // height: 160px;
  // line-height: 160px;
  // background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.slick-next, .slick-prev{
  height: 35px !important;
}
