.main-header {
  padding: 10px 20px;
  box-shadow: $box-shadow;
  @media screen and (max-width: 480px) {
    display: none;
  }
  .menu-logo {
    .logo {
      height: 50px;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 500px;
      @media screen and (max-width: 912px) {
        max-width: 360px;
        margin-left: 10px;
      }
      .menu-list {
        @media screen and (max-width: 912px) {
          font-size: 12px;
        }
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    input {
      width: 300px;
    }
  }

  .menu-right {
    display: flex;
    align-items: center;
    // padding-right: 30px;
    justify-content: flex-end;
    text-align: center;
    .menu-right-items {
      padding-left: 20px;
      @media screen and (max-width: 912px) {
        padding-left: 10px;
      }
      .list-icon {
        img {
          height: 16px;
        }
      }
      .list-text {
        @media screen and (max-width: 912px) {
          font-size: 12px;
        }
      }
    }
  }
}
