.popular-slider {
  padding: 30px;
  border: 1px solid $border-color;
  min-height: 317px;
  @media screen and (max-width: 320px) {
    padding: 0;
  }
  .popular-left-text {
    display: flex;
    align-items: center;
    .popular-text {
      text-align: left;
      position: relative;
      color: #707070;
      @media screen and (max-width: 480px) {
        padding: 25px 20px;
        text-align: center;
      }
      h1 {
        color: #707070;
      }
      .title-bottom-hr {
        width: 40px;
        display: block;
        position: absolute;
        height: 4px;
        background: #707070;
        border: 0px;
        @media screen and (max-width: 480px) {
          left: 44%;
        }
      }
      button {
        margin-top: 25px;
      }
    }
  }
  .popular-left-right{
    text-align: right;
    @media screen and (max-width: 320px) {
      text-align: center;
    }
    img{
      @media screen and (max-width: 320px) {
        height: 185px;
      }
    }
  }
}
