@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Regular 400.ttf");
  /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Light 300.ttf");
  /* IE9 Compat Modes */
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Medium 500.ttf");
  /* IE9 Compat Modes */
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Bold 700.ttf");
  /* IE9 Compat Modes */
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Quicksand" !important;
  font-size: 14px !important;
  color: #00263D !important;
  margin: 0px;
}
body.overflow {
  overflow: hidden;
}

.container {
  padding: 0 80px;
  margin: auto;
}

.breadcrumb-all {
  margin: 30px 0;
  padding: 10px 0;
  padding-left: 15px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 29px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5, p {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0px;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #00263D;
}
a:hover {
  color: #00263D;
}

ul {
  margin: 0;
  padding: 0;
}

button.btn {
  height: 35px;
  padding: 0 20px;
  border-radius: 0px;
}

.paddingTopZero {
  padding-top: 0px;
}

.noDisplay {
  display: none !important;
}

.showDisplay {
  display: block !important;
}

.__react_component_tooltip {
  padding: 5px 8px !important;
}

input {
  background: #F8F8F8;
  font-size: 12px;
  height: 35px;
}
input:hover, input .ant-input-focused, input:focus {
  border-color: #d9d9d9 !important;
  box-shadow: unset !important;
}

button {
  height: 35px !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  border: 0px;
}
button.primary {
  background-color: #61ce70;
  color: #fff;
}
button.primary:hover {
  color: #61ce70;
  border-color: #61ce70;
}

.product-slider {
  padding: 0 40px;
}

.slider-header {
  text-align: center;
  padding: 30px 0;
}

.latest-popular {
  text-align: center;
  padding: 50px 30px;
}

.cart-page {
  padding-bottom: 80px;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .cart-page {
    margin-top: 10px;
    padding-bottom: 20px;
  }
}

.main-header {
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(199, 197, 197, 0.5);
}
.main-header .menu-logo .logo {
  height: 50px;
}
.main-header .menu-logo .logo img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-header .menu-logo .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}
.main-header .search {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.main-header .search input {
  width: 300px;
}
.main-header .menu-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.main-header .menu-right .menu-right-items {
  padding-left: 20px;
}
.main-header .menu-right .menu-right-items .list-icon img {
  height: 16px;
}

.main-carousel .img-text {
  position: relative;
}
.main-carousel .img-text .carousel-text {
  position: absolute;
  top: 25%;
  left: 8%;
  text-align: left;
}
.main-carousel .img-text .carousel-text h2 {
  margin-bottom: 0px;
}
.main-carousel .img-text .carousel-text .main-text {
  font-size: 75px;
  font-weight: bold;
  line-height: 60px;
}
.main-carousel .img-text img {
  width: 100%;
}

.slick-dots {
  width: auto !important;
}

.ant-carousel .slick-dots li {
  width: 10px !important;
}
.ant-carousel .slick-dots li.slick-active {
  width: 10px !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #61ce70 !important;
  opacity: 1 !important;
}
.ant-carousel .slick-dots li button {
  width: 10px !important;
  border-radius: 50% !important;
  background: #d1d1d1 !important;
  opacity: 1 !important;
}
.ant-carousel .slick-dots-bottom {
  bottom: 25px !important;
}

.ant-carousel .slick-dots li button:focus,
.ant-carousel .slick-dots li button:hover {
  opacity: 1 !important;
}

.ant-carousel .slick-dots li,
.ant-carousel .slick-dots li button {
  height: 10px !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.slick-next, .slick-prev {
  height: 35px !important;
}

.product-card {
  padding: 0 30px;
  padding-bottom: 10px;
  cursor: pointer;
}
.product-card:hover .product-box-shadow {
  box-shadow: 0 4px 12px rgba(199, 197, 197, 0.5);
  transition: all ease-in-out 0.3s;
}
.product-card:hover .hover-items-image .card-hover-items {
  visibility: visible;
}
.product-card .hover-items-image {
  position: relative;
  display: flex;
  justify-content: center;
}
.product-card .hover-items-image .card-hover-items {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
  visibility: hidden;
}
.product-card .hover-items-image .card-hover-items .card-items {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #f7f7f7;
  cursor: pointer;
}
.product-card .hover-items-image .card-hover-items .card-items:last-child {
  border-right: 0px;
}
.product-card .hover-items-image .card-hover-items .card-items img {
  height: 18px;
}
.product-card .hover-items-image .image {
  width: 100%;
}
.product-card .hover-items-image .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.product-card .card-body {
  padding: 5px 10px;
  border: 1px solid #f7f7f7;
  border-top: 0px;
}
.product-card .card-body .card-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.product-card .card-body .card-category .cate {
  color: #adadad;
}
.product-card .card-body .card-category .stars i {
  color: #f2c900;
  padding-left: 5px;
}
.product-card .card-body .prod-price {
  color: #61ce70;
}

.popular-slider {
  padding: 30px;
  border: 1px solid #f7f7f7;
  min-height: 317px;
}
.popular-slider .popular-left-text {
  display: flex;
  align-items: center;
}
.popular-slider .popular-left-text .popular-text {
  text-align: left;
  position: relative;
  color: #707070;
}
.popular-slider .popular-left-text .popular-text h1 {
  color: #707070;
}
.popular-slider .popular-left-text .popular-text .title-bottom-hr {
  width: 40px;
  display: block;
  position: absolute;
  height: 4px;
  background: #707070;
  border: 0px;
}
.popular-slider .popular-left-text .popular-text button {
  margin-top: 25px;
}

.footer {
  margin-top: 40px;
  background: #222222;
  color: #c5c5c5;
  padding: 20px 30px;
}
.footer .company-info .logo {
  margin-bottom: 15px;
}
.footer .company-info .logo img {
  height: 60px;
}
.footer .company-info .company-details,
.footer .company-info .comp-address,
.footer .company-info .comp-phone,
.footer .company-info .comp-email {
  margin-bottom: 10px;
}
.footer .footer-ul-design h4 {
  color: #fff;
}
.footer .footer-ul-design ul li {
  display: block;
  list-style: none;
  line-height: 30px;
}
.footer .footer-newsletter h4 {
  color: #fff;
}
.footer .footer-newsletter .news-details .let-det {
  margin-bottom: 10px;
}
.footer .footer-newsletter .news-details input {
  background: #2b2b2b;
  border: #2b2b2b;
  color: #6d6d6d;
}
.footer .footer-newsletter .news-details button {
  border-radius: 0 !important;
  background: #2b2b2b;
  border-color: #2b2b2b;
  color: #c2c2c2;
}
.footer .footer-newsletter ul.footer-social-media {
  padding: 0px;
  margin-top: 15px;
}
.footer .footer-newsletter ul.footer-social-media li {
  display: inline-block;
  padding-right: 15px;
}
.footer .footer-newsletter ul.footer-social-media li img {
  height: 35px;
}

.listing {
  margin-top: 60px;
}
@media screen and (max-width: 480px) {
  .listing .right-listing .type-icon {
    display: none;
  }
}
.listing .right-listing .page-status {
  font-size: 12px;
  color: #8d94ac;
}
@media screen and (max-width: 480px) {
  .listing .right-listing .page-status {
    display: none;
  }
}
.listing .right-listing .pagination {
  margin-left: 40px;
  margin-top: 40px;
  border-top: 1px solid #f7f7f7;
  padding-top: 30px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-list-view {
  border: 1px solid #f7f7f7;
  padding: 15px 10px;
}
@media screen and (max-width: 992px) {
  .product-list-view .pd-img {
    border-bottom: 1px solid #f7f7f7;
  }
}
.product-list-view .pd-img img {
  height: 140px;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product-list-view .pd-img img {
    height: 150px;
  }
}
.product-list-view .pd-details {
  padding: 0 10px;
}
.product-list-view .pd-details .name-price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .product-list-view .pd-details .name-price {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .product-list-view .pd-details .name-price .name {
    margin-top: 10px;
  }
}
.product-list-view .pd-details .name-price .name .pd-name {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.product-list-view .pd-details .name-price .name .pd-name:hover {
  color: #61ce70;
}
.product-list-view .pd-details .name-price .name .sold-by {
  color: #8d94ac;
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .product-list-view .pd-details .name-price .price {
    display: flex;
    margin-top: 10px;
  }
}
.product-list-view .pd-details .name-price .price .new-price {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .product-list-view .pd-details .name-price .price .new-price {
    margin-right: 10px;
  }
}
.product-list-view .pd-details .name-price .price .new-price .old-price {
  text-decoration: line-through;
  color: #8d94ac;
  padding-right: 5px;
  border-right: 1px solid #f7f7f7;
  margin-right: 5px;
  font-size: 12px;
}
.product-list-view .pd-details .name-price .price .price-disc {
  font-size: 13px;
}
.product-list-view .pd-details .name-price .price .price-disc .disc {
  color: #48b5dc;
}
.product-list-view .pd-details .qty {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-list-view .pd-details .qty .qty-title {
  margin-right: 10px;
}
.product-list-view .pd-details .qty .qty-inc-dcs {
  display: flex;
  align-items: center;
}
.product-list-view .pd-details .qty .qty-inc-dcs i {
  font-size: 10px;
  padding: 0 12px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
}
.product-list-view .pd-details .qty .qty-inc-dcs i.disabled {
  background: #f7f7f7;
  border: 0px;
}
.product-list-view .pd-details .qty .qty-inc-dcs input {
  margin: 0 10px;
  height: 30px;
  width: 45px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .product-list-view .pd-details .qty .qty-inc-dcs input {
    width: 70px;
  }
}
.product-list-view .pd-details .qty .qty-inc-dcs input:hover, .product-list-view .pd-details .qty .qty-inc-dcs input:focus,
.product-list-view .pd-details .qty .qty-inc-dcs input :active {
  border-color: #d9d9d9;
}
.product-list-view .pd-details .delete-product {
  margin-top: 15px;
}
.product-list-view .pd-details .delete-product button {
  color: #61ce70;
  border-color: #61ce70;
}
@media screen and (max-width: 767px) {
  .product-list-view .pd-details .delete-product button {
    width: 100%;
  }
}
.product-list-view .pd-details .delete-product button:hover {
  background: #61ce70;
  color: #fff;
}

.listing-filter {
  border-right: 1px solid #f7f7f7;
}
@media screen and (max-width: 767px) {
  .listing-filter {
    border: 0px;
  }
}
.listing-filter .filter-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;
}
.listing-filter .filter-types {
  margin-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .listing-filter .filter-types.last-child-fi-type {
    border-bottom: 0px;
  }
}
.listing-filter .filter-types .type-title {
  font-weight: bold;
  margin-bottom: 6px;
}
.listing-filter .filter-types .type-list .ant-checkbox-group .ant-checkbox-group-item {
  display: block;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .product-lists {
    margin-top: 5px;
  }
}
.product-lists .sorting-page {
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .product-lists .sorting-page {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .product-lists .sorting-page {
    margin-left: 0px;
    display: none;
  }
}
.product-lists .sorting-page .view-sort {
  display: flex;
  align-items: center;
}
.product-lists .sorting-page .view-sort .type-icon .list-icon {
  margin-right: 15px;
  font-size: 18px;
  border: 1px solid #f7f7f7;
  padding: 2px;
  color: #f7f7f7;
}
.product-lists .sorting-page .view-sort .type-icon .list-icon:first-child {
  color: #61ce70;
  border-color: #61ce70;
}
.product-lists .sorting-page .page-status {
  font-size: 12px;
  color: #8d94ac;
}
.product-lists .card-list {
  margin-left: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .product-lists .card-list {
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .product-lists .card-list {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.product-lists .card-list .product-card {
  padding: 0;
  margin-bottom: 30px;
}
.product-lists .sticky-filter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  display: flex;
  background: #fff;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #eee;
  box-shadow: 2px -2px 8px 0 rgba(128, 128, 128, 0.37);
  font-size: 14px;
}
.product-lists .sticky-filter .filter-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0e0e0;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}
.product-lists .sticky-filter .filter-type:last-child {
  border-right: 0px;
}
.product-lists .sticky-filter .filter-type img {
  height: 25px;
}

.sticky-filter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  display: flex;
  background: #fff;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #eee;
  box-shadow: 2px -2px 8px 0 rgba(128, 128, 128, 0.37);
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .sticky-filter {
    display: none;
  }
}
.sticky-filter.inside-filter-sticky {
  box-shadow: unset;
}
.sticky-filter .filter-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0e0e0;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}
.sticky-filter .filter-type.apply-type {
  color: #48b5dc;
}
.sticky-filter .filter-type.removeBorder {
  border-right: 0px;
}
.sticky-filter .filter-type img {
  height: 25px;
}

.slider .image-show {
  height: 500px;
}
@media screen and (max-width: 767px) {
  .slider .image-show {
    height: 180px;
  }
}
.slider .image-show .enlargedImage {
  z-index: 9;
}
.slider .image-show img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slider .product-detail-slider {
  margin-top: 15px;
  z-index: 9;
  position: relative;
}
.slider .product-detail-slider img.prod-img {
  height: 90px;
  object-fit: contain;
  object-position: center;
  padding: 5px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .slider .product-detail-slider img.prod-img {
    height: 55px;
  }
}
.slider .product-detail-slider img.arr {
  height: 30px;
  width: 15px;
}
@media screen and (max-width: 767px) {
  .slider .product-detail-slider img.arr {
    height: 20px;
    width: 10px;
  }
}
@media screen and (max-width: 767px) {
  .slider .product-detail-slider img.slick-prev {
    left: -15px;
  }
}
@media screen and (max-width: 767px) {
  .slider .product-detail-slider img.slick-next {
    right: -15px;
  }
}

.product-specs {
  padding: 0 40px;
}
@media screen and (max-width: 992px) {
  .product-specs {
    padding-left: 0px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .product-specs {
    padding: 0px;
    margin-top: 15px;
  }
}
.product-specs .product-title {
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .product-specs .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.product-specs .price-specs {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.product-specs .price-specs .ratings-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-specs .price-specs .ratings-reviews .ratings {
  color: #f2c900;
}
.product-specs .price-specs .ratings-reviews .ratings span {
  margin-left: 5px;
}
.product-specs .price-specs .old-new-price {
  margin-top: 15px;
}
.product-specs .price-specs .old-new-price .old-price {
  text-decoration: line-through;
  color: #61ce70;
}
.product-specs .price-specs .old-new-price .old-price span {
  font-size: 16px;
  color: #00263D;
}
.product-specs .price-specs .old-new-price .new-price {
  display: flex;
  align-items: center;
}
.product-specs .price-specs .old-new-price .new-price .price {
  font-size: 28px;
  color: #61ce70;
}
.product-specs .price-specs .old-new-price .new-price .discount {
  margin-left: 15px;
  font-size: 14px;
}
.product-specs .specs {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.product-specs .specs .spec-title {
  font-size: 18px;
  margin: 10px 0;
}
.product-specs .specs ul {
  margin-left: 18px;
  margin-top: 10px;
}
.product-specs .qty-cart-btn {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.product-specs .qty-cart-btn .qty-cart {
  display: flex;
  align-items: center;
}
.product-specs .qty-cart-btn .qty-cart .qty {
  display: flex;
  align-items: center;
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-title {
  margin-right: 10px;
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs {
  display: flex;
  align-items: center;
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs i {
  font-size: 10px;
  padding: 0 15px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs i.disabled {
  background: #f7f7f7;
  border: 0px;
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs input {
  margin: 0 10px;
  width: 50px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs input {
    width: 70px;
  }
}
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs input:hover, .product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs input:focus,
.product-specs .qty-cart-btn .qty-cart .qty .qty-inc-dcs input :active {
  border-color: #d9d9d9;
}
.product-specs .qty-cart-btn .qty-cart button {
  margin-left: 15px;
}
.product-specs .qty-cart-btn .wish-comp-btn {
  display: flex;
  align-items: center;
}
.product-specs .qty-cart-btn .wish-comp-btn .wish-btn,
.product-specs .qty-cart-btn .wish-comp-btn .comp-btn {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 16px;
}
.product-specs .qty-cart-btn .wish-comp-btn .wish-btn img,
.product-specs .qty-cart-btn .wish-comp-btn .comp-btn img {
  height: 18px;
}
.product-specs .qty-cart-btn .wish-comp-btn .wish-btn span,
.product-specs .qty-cart-btn .wish-comp-btn .comp-btn span {
  margin-left: 10px;
}
.product-specs .prod-cate-specs .tags {
  margin-bottom: 5px;
}
.product-specs .prod-cate-specs .share i {
  margin-left: 10px;
}

.other-details {
  margin-top: 40px;
}
.other-details .ant-tabs-nav-scroll {
  text-align: center;
}
.other-details .q-a-tab .not-logged-in {
  margin: 15px 0;
}
.other-details .q-a-tab .qns-ans-section .title {
  margin: 10px 0;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;
  font-size: 14px;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns,
.other-details .q-a-tab .qns-ans-section .qns-details .ans {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-icon,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-icon {
  background-color: #48b5dc;
  color: #fff;
  padding: 3px 7px;
  font-size: 10px;
  position: relative;
  margin-top: 3px;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-icon.a-btn,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-icon.a-btn {
  background-color: #adadad;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-icon.a-btn .arrow-bottom,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-icon.a-btn .arrow-bottom {
  border-top: 5px solid #adadad;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-icon .arrow-bottom,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-icon .arrow-bottom {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid #48b5dc;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-title,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-title {
  margin-left: 10px;
}
.other-details .q-a-tab .qns-ans-section .qns-details .qns .q-title .user,
.other-details .q-a-tab .qns-ans-section .qns-details .ans .q-title .user {
  font-size: 10px;
  color: #adadad;
}
.other-details .desc-tab .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.other-details .add-info .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.other-details .add-info .add-info-details .feature {
  font-weight: bold;
}
.other-details .add-info .add-info-details .feature-detail {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid #ececec;
}
.other-details .add-info .add-info-details .feature,
.other-details .add-info .add-info-details .detail {
  width: 400px;
}
.other-details .details-reviews .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.other-details .details-reviews .no-reviews {
  margin-bottom: 10px;
}
.other-details .details-reviews .all-reviews .user-review {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.other-details .details-reviews .all-reviews .user-review:last-child {
  border-bottom: 0px;
}
.other-details .details-reviews .all-reviews .user-review .review-stars i {
  color: #f2c900;
  margin-right: 5px;
}
.other-details .details-reviews .all-reviews .user-review .reviewd-by {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.other-details .details-reviews .all-reviews .user-review .reviewd-by .reivewer-name {
  color: #adadad;
  font-size: 12px;
}
.other-details .details-reviews .all-reviews .user-review .reviewd-by .ver {
  margin-left: 10px;
  color: #61ce70;
}
.other-details .details-reviews .all-reviews .user-review .reviewd-by .ver img {
  height: 20px;
  margin-right: 4px;
}
.other-details .reviews-form {
  max-width: 400px;
}
.other-details .reviews-form .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-items {
  border-right: 1px solid #f7f7f7;
  padding-right: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .cart-items {
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
  }
}
.cart-items .delivery-free {
  padding: 10px 20px;
  border: 1px solid #f7f7f7;
}
.cart-items .delivery-free img {
  height: 20px;
  margin-right: 10px;
}
.cart-items .delivery-price {
  padding: 10px 20px;
  border: 1px solid #f7f7f7;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .cart-items .delivery-price .delivery-icon {
    display: block;
    margin-bottom: 10px;
    border-right: 0px;
  }
}
.cart-items .delivery-price .delivery-icon, .cart-items .delivery-price .delivery-date {
  border-right: 1px solid #f7f7f7;
  margin-right: 10px;
  padding-right: 10px;
}
.cart-items .delivery-price .delivery-icon img, .cart-items .delivery-price .delivery-date img {
  height: 20px;
  margin-right: 10px;
}
.cart-items .bag-items .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .cart-items .bag-items .title {
    font-size: 16px;
  }
}
.cart-items .bag-items .title h4 {
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .cart-items .bag-items .title h4 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .cart-items .bag-items .title .price {
    font-weight: bold;
  }
}

.order-shipping .os-title {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px dashed #f7f7f7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.order-shipping .ti-pr {
  display: flex;
  justify-content: space-between;
  color: #8d94ac;
  margin-bottom: 5px;
}
.order-shipping .ti-pr .ti .name-add {
  display: flex;
}
.order-shipping .ti-pr .ti .name-add i {
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  top: 4px;
}
.order-shipping .ti-pr .edit {
  color: #3366ff;
}
.order-shipping .shipping-details {
  margin-bottom: 10px;
  display: none;
}
@media screen and (max-width: 767px) {
  .order-shipping .order-summary {
    margin-top: 30px;
  }
}
.order-shipping .order-summary .price-details .price-title {
  margin-bottom: 5px;
}
.order-shipping .order-summary .price-details .total-price {
  margin: 15px 0;
  padding-top: 10px;
  border-top: 1px dashed #f7f7f7;
}
.order-shipping .order-summary .price-details .cupon-voucher {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.order-shipping .order-summary .price-details .cupon-voucher input {
  height: 35px;
  border-radius: 0px;
  border-right: 0px;
}
.order-shipping .order-summary .price-details .cupon-voucher button {
  background: #00263D;
  color: #fff;
  border: 0px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.order-shipping .order-summary .price-details .order-procced {
  margin-top: 30px;
}
.order-shipping .order-summary .price-details .order-procced button {
  width: 100%;
  background: #48b5dc;
  color: #fff;
  border: #48b5dc;
}

/*# sourceMappingURL=style.css.map */
