body {
  font-family: $font-family !important;
  font-size: 14px !important;
  color: $text !important;
  margin: 0px;
  &.overflow {
    overflow: hidden;
  }
}

.container {
  padding: 0 40px;
  margin: auto;
  margin-top: 40px;
  @media screen and (max-width: 912px) {
    padding: 0 20px;
    margin-top: 20px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 10px;
    margin-top: 10px;
  }
}

// .body-wrap {
//   @media screen and (max-width: 577px) {
//     margin-top: 50px;
//   }
// }

.action-btn {
  border: 1px solid;
  padding: 5px;
  font-size: 12px;
  &.action-btn-delete {
    color: red;
    border-color: red;
    &:hover {
      background-color: red;
      color: #fff;
    }
  }
  &.action-btn-add {
    color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
}

.min-height {
  min-height: calc(100vh - 415px);
}

.ant-input {
  height: auto !important;
  font-size: 14px;
}

.ant-input-affix-wrapper {
  max-height: 35px !important;
}
.search .ant-input-affix-wrapper {
  max-height: 45px !important;
}

.ant-select-selector {
  height: 35px !important;
}

.ant-select-dropdown-placement-bottomLeft{
  top: 100px !important;
}

.breadcrumb-all {
  margin: 30px 0;
  padding: 10px 0;
  padding-left: 15px;
  @media screen and (max-width: 480px) {
    margin: 0px;
    padding-left: 0px;
  }
}

.ant-form-item-label {
  text-align: left !important;
}

h1 {
  font-size: 35px;
  @media screen and (max-width: 480px) {
    font-size: 29px;
  }
}
h2 {
  font-size: 29px;
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}
h4 {
  font-size: 20px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
h5,
p {
  font-size: 16px;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
h6 {
  font-size: 14px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold;
  line-height: 40px;
  margin-bottom: 0px;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: $text;
  &:hover {
    color: $text;
  }
}

ul {
  margin: 0;
  padding: 0;
}

button.btn {
  height: 35px;
  padding: 0 20px;
  border-radius: 0px;
}

.paddingTopZero {
  padding-top: 0px;
}

.noDisplay {
  display: none !important;
}

.showDisplay {
  display: block !important;
}

.__react_component_tooltip {
  padding: 5px 8px !important;
}

a.view-more-less {
  color: #757575;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}
a.view-more-less i {
  margin-left: 5px;
  font-size: 11px !important;
  margin-bottom: 0 !important;
}
.show-review + .view-more-less .fa-caret-down:before {
  content: "\f0d8" !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.filtered-by {
  padding-left: 40px;
  padding-top: 15px;
  @media screen and (max-width: 480px) {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  .title {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.65);
  }
  .filter-tags {
    font-size: 12px;
    border: 1px solid #eee;
    padding: 6px 10px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    margin-right: 8px;
    @media screen and (max-width: 480px) {
      font-size: 11px;
      padding: 4px 8px;
      margin-right: 5px;
      display: inline-block;
      margin-top: 5px;
    }
    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }
  i {
    margin-left: 4px;
  }
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split {
  margin-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efefef;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 5px;
      bottom: 3px;
      background-color: #dbdbdb;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

input:checked + .slider {
  background-color: rgba(29, 170, 95, 0.18);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: $primary-color;
  left: -5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yes-no > span {
  padding: 0 5px;
}

.delete-product {
  margin-top: 15px;
  a {
    button {
      color: $primary-color;
      border-color: $primary-color;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      &:hover {
        background: $primary-color;
        color: $white;
      }
      span {
        font-size: 13px;
      }
    }
    &:hover {
      border-color: $primary-color;
    }
  }
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// input.inputfile{
//   display: none;
// }
input.inputfile + label {
  width: 100%;
  border: 1px dashed #948c8c;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
  cursor: pointer;
}

.all-pagination {
  text-align: right;
}

.noCheckbox,
.displayNone {
  display: none !important;
}

.clickDisable {
  pointer-events: none;
  cursor: not-allowed;
}

.not-available {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th,
.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th {
  padding: 10px !important;
}

.ant-tabs-bar {
  z-index: 9;
  background: #fff;
}

.table-wrapper {
  table thead tr th:first-child,
  table tbody tr td:first-child {
    @media (min-width: 1023px) {
      display: none;
    }
  }
  @media (max-width: 1023px) {
    th {
      display: none;
    }
    th:nth-child(1),
    th:nth-child(2),
    th:nth-child(3) {
      display: table-cell;
    }
  }
  tbody {
    @media (max-width: 1023px) {
      tr {
        td {
          display: none;
        }
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3) {
          display: table-cell;
        }
      }
    }
  }
  .expanded-table {
    tr {
      td {
        border-bottom: 1px solid #f0f0f0;
        padding: 10px;
      }
      &:last-child {
        td {
          border-bottom: 0px;
        }
      }
    }
  }
}

.no-data-table {
  @media (max-width: 1023px) {
    display: none;
  }
}

.ant-table-row-expand-icon {
  height: 17px !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  .spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.social-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 18px 15px;
  &.facebook{
    background: #1877f2;
    color: #fff;
  }
  // &.google{
  //   background: #1877f2;
  // }
  span.anticon-facebook{
    font-size: 22px;
  }
}

.modal-video-close-btn{
  cursor: pointer;  
  right: 0px !important;
}

.ant-carousel .slick-dots{
  z-index: 8;
}

.latest-products{
  .latest-cards{
    margin-bottom: 20px;
  }
}
