body {
  font-family: $font-family !important;
  font-size: 14px !important;
  color: $text !important;
  margin: 0px;
  &.overflow {
    overflow: hidden;
  }
}

.container {
  padding: 0 40px;
  margin: auto;
  margin-top: 40px;
  @media screen and (max-width: 912px) {
    padding: 0 20px;
    margin-top: 20px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 10px;
    margin-top: 20px;
  }
}

.action-btn {
  border: 1px solid;
  padding: 5px;
  font-size: 12px;
  &.action-btn-delete {
    color: red;
    border-color: red;
    &:hover {
      background-color: red;
      color: #fff;
    }
  }
  &.action-btn-add {
    color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
}

.min-height {
  min-height: calc(100vh - 415px);
}

.ant-input {
  height: auto;
}

.ant-input-affix-wrapper {
  height: 35px;
}

.breadcrumb-all {
  margin: 30px 0;
  padding: 10px 0;
  padding-left: 15px;
}

.ant-form-item-label {
  text-align: left !important;
}

h1 {
  font-size: 35px;
  @media screen and (max-width: 480px) {
    font-size: 29px;
  }
}
h2 {
  font-size: 29px;
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}
h4 {
  font-size: 20px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
h5,
p {
  font-size: 16px;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
h6 {
  font-size: 14px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold;
  line-height: 40px;
  margin-bottom: 0px;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: $text;
  &:hover {
    color: $text;
  }
}

ul {
  margin: 0;
  padding: 0;
}

button.btn {
  height: 35px;
  padding: 0 20px;
  border-radius: 0px;
}

.paddingTopZero {
  padding-top: 0px;
}

.noDisplay {
  display: none !important;
}

.showDisplay {
  display: block !important;
}

.__react_component_tooltip {
  padding: 5px 8px !important;
}

a.view-more-less {
  color: #757575;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}
a.view-more-less i {
  margin-left: 5px;
  font-size: 11px !important;
  margin-bottom: 0 !important;
}
.show-review + .view-more-less .fa-caret-down:before {
  content: "\f0d8" !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.filtered-by {
  padding-left: 40px;
  padding-top: 15px;
  .title {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.65);
  }
  .filter-tags {
    font-size: 12px;
    border: 1px solid #eee;
    padding: 6px 10px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    margin-right: 8px;
    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }
  i {
    margin-left: 4px;
  }
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split {
  margin-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efefef;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 5px;
      bottom: 3px;
      background-color: #dbdbdb;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

input:checked + .slider {
  background-color: rgba(29, 170, 95, 0.18);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: $primary-color;
  left: -5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yes-no>span{
  padding: 0 5px;
}

.delete-product {
  margin-top: 15px;
  a {
    button {
      color: $primary-color;
      border-color: $primary-color;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      &:hover {
        background: $primary-color;
        color: $white;
      }
      span {
        font-size: 13px;
      }
    }
    &:hover {
      border-color: $primary-color;
    }
  }
}
