@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand Regular 400.ttf"); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand Light 300.ttf"); /* IE9 Compat Modes */
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand Medium 500.ttf"); /* IE9 Compat Modes */
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand Bold 700.ttf"); /* IE9 Compat Modes */
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: "RobotoDisplay";
//   src: url("./fonts/roboto/Roboto-Regular.ttf"); /* IE9 Compat Modes */
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "RobotoDisplay";
//   src: url("./fonts/roboto/Roboto-Medium.ttf"); /* IE9 Compat Modes */
//   font-weight: medium;
//   font-style: normal;
// }

// @font-face {
//   font-family: "RobotoDisplay";
//   src: url("./fonts/roboto/Roboto-Bold.ttf"); /* IE9 Compat Modes */
//   font-weight: medium;
//   font-style: normal;
// }
