@mixin gradient-liner {
  background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
  animation-name: moving-gradient;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.skeleton {
  &:hover {
    .card-hover-items {
      display: none !important;
    }
  }
  .large-line {
    height: 8px;
    background-color: #eee;
    width: 100%;
    display: inline-block;
    @include gradient-liner;
  }
  .medium-line {
    height: 8px;
    background-color: #eee;
    width: 80%;
    display: inline-block;
    @include gradient-liner;
  }
  .small-line {
    height: 8px;
    background-color: #eee;
    width: 50%;
    display: inline-block;
    @include gradient-liner;
  }
  img {
    object-fit: cover !important;
  }
  .product-box-shadow {
    border: 0 !important;
  }
  .productImg-loader {
    background-color: #eee;
    display: inline-block;
    @include gradient-liner;
  }
  .card-body {
    padding: 10px 0 !important;
    div {
      display: block;
      &.medium-line {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

// .loading {
//   position: relative;
//   &::after {
//     display: block;
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     transform: translateX(-100%);
//     background: -webkit-gradient(
//       linear,
//       left top,
//       right top,
//       from(transparent),
//       color-stop(rgba(255, 255, 255, 0.2)),
//       to(transparent)
//     );

//     background: linear-gradient(
//       90deg,
//       transparent,
//       rgba(86, 86, 86, 0.2),
//       transparent
//     );

//     /* Adding animation */
//     animation: loading 0.8s infinite;
//   }
// }

// /* Loading Animation */
// @keyframes loading {
//   100% {
//     transform: translateX(100%);
//   }
// }
