.skeleton {
  .large-line.loading {
    height: 8px;
    background-color: #eee;
    width: 200px;
    display: inline-block;
  }
  .medium-line.loading {
    height: 8px;
    background-color: #eee;
    width: 150px;
    display: inline-block;
  }
  .small-line.loading {
    height: 8px;
    background-color: #eee;
    width: 100px;
    display: inline-block;
  }
}

.loading { 
    position: relative; 
    background-color: #e2e2e2; 
    &::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(transparent),
          color-stop(rgba(255, 255, 255, 0.2)),
          to(transparent)
        );
      
        background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.2),
          transparent
        );
      
        /* Adding animation */
        animation: loading 0.8s infinite;
      }
} 



/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
