input{
    background: $light-bg;
    font-size: 12px;
    height: 35px;
    &:hover, .ant-input-focused, &:focus{
        border-color: #d9d9d9 !important;
        box-shadow: unset !important;
    }
}

button{
    // width: 120px !important;
    height: 35px !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    border: 0px;
    &.primary{
        background-color: #61ce70;
        color: #fff;
        &:hover{
            color: #61ce70;
            border-color: #61ce70;
        }
    }
}