input{
    background: $light-bg;
    font-size: 12px;
    height: 25px !important;
    &:hover, .ant-input-focused, &:focus{
        border-color: #d9d9d9 !important;
        box-shadow: unset !important;
    }
}

button{
    // width: 120px !important;
    height: 32px !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    border: 0px;
    &:focus{
        outline: none;
    }
    &.primary{
        background-color: $primary-color;
        color: #fff;
        &:hover{
            color: $primary-color;
            border-color: $primary-color;
        }
    }
    &.secondary{
        background-color: $secondary-color;
        color: #fff;
        &:hover{
            color: $secondary-color;
            border-color: $secondary-color;
        }
    }
    &.no-color{
        background-color: #fff;
        color: #000;
        &:hover{
            color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}