.product-slider{
    padding: 0 40px;
    margin-bottom: 20px;
    @media screen and (max-width: 480px) {
      padding: 0 15px;
      margin-bottom: 10px;
    }
}

.slider-header{
    text-align: center;
    padding: 30px 0;
    padding-top: 0px;
    @media screen and (min-width: 375px) and (max-width: 480px) {
      padding: 0 10px;
      padding-bottom: 30px;
    }
}

.latest-popular {
    text-align: center;
    padding: 50px 30px;
    @media screen and (max-width: 912px) {
      padding: 50px 0px;
    }
    @media screen and (max-width: 480px) {
      padding: 0px;
    }
}

.checkout{
    margin-top: 60px;
}

.detail{
  .container{
  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
  }
}