.my-profile {
  .left-menu {
    border-right: 1px solid #efefef;
    @media screen and (max-width: 480px) {
      border: 0px;
    }
  }
  .profile-right-menu{
    padding: 0 10px;
  }
  .profile-menu {
    margin-top: 10px;
    @media screen and (max-width: 480px) {
      padding: 0 10px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: $secondary-color;
        }
        &.active{
          color: $primary-color;
        }
      }
    }
  }

  .menu-details {
    h3 {
      margin-bottom: 20px;
    }
  }

  .profile-details {
    .main-profile {
      border: 1px solid #efefef;
      padding: 20px;
      .left-prof {
        .change-profile {
          display: flex;
          justify-content: center;
          img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: cover;
          }
          i {
            margin-top: 20px;
            cursor: pointer;
          }
        }
      }
      .right-prof {
        .em-det {
          div {
            margin-bottom: 5px;
          }
        }
      }
    }
    .profile-bottom {
      margin-top: 20px;
      border: 1px solid #efefef;
      padding: 20px;
      .ant-table-tbody > tr &:last-child {
        td {
          border-bottom: 0px;
        }
      }
      td {
        padding-left: 0px;
      }
    }
  }

  .address-details {
    .title-add {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .edit-address {
      margin-top: 25px;
    }
  }

  .table-item-img {
    height: 60px;
  }

  .my-orders {
    h3 {
      margin-bottom: 20px;
    }
    .orders-table {
      margin-top: 20px;
    }
  }

  .my-wishlist {
    h3 {
      margin-bottom: 20px;
    }
    .orders-table {
      margin-top: 20px;
    }
  }

  .my-reviews {
    .shop-review {
      margin: 15px 0;
      .shop-name {
        font-weight: bold;
        font-size: 20px;
        img {
          height: 30px;
        }
      }
      .name-rating {
        display: flex;
        align-items: center;
        .ratings {
          margin-left: 5px;
          i {
            color: $tertiary-color;
            padding-left: 5px;
            &.fade-star {
              color: #eee;
            }
          }
        }
      }
    }
  }
}
