// .my-wishlist {
table {
  .ant-table-cell {
    max-width: 135px;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
  }
  a.item-title {
    max-width: 300px !important;
    display: block;
  }
}
// }
