.product-slider{
    padding: 0 40px;
}

.slider-header{
    text-align: center;
    padding: 30px 0;
}

.latest-popular {
    text-align: center;
    padding: 50px 30px;
    @media screen and (max-width: 480px) {
      padding: 0px;
    }
}

.checkout{
    margin-top: 60px;
}