ul.top-categories {
    padding-right: 15px;
    li {
        padding: 14px 15px 14px 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        color: #555;
        list-style: none;
        cursor: pointer;
        &:hover {
            background: #61ce70;
            color: #fff;
        }
        &.title {
            font-weight: bold;
            font-size: 0.9375rem;
            color: #222529;
            background: #f5f5f5;
            text-transform: uppercase;
            cursor: pointer;
        }
        &:last-child {
            border-bottom: 1px solid #ddd;
        }
    }
}
