.top-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
  background: #61ce70;
  color: #fff;
  @media screen and (max-width: 998px) {
    padding: 5px 20px;
    font-size: 13px;
  }
  @media screen and (max-width: 576px) {
    padding: 5px 15px;
    font-size: 11px;
  }
  @media screen and (max-width: 360px) {
    font-size: 10px;
  }
  // @media screen and (max-width: 576px) {
  //   display: none;
  // }
  ul {
    padding: 0;
    li {
      display: inline-block;
      margin-left: 10px;
      border-right: 2px solid #fff;
      padding-right: 10px;
      cursor: pointer;
      &:last-child {
        border: 0;
        padding: 0;
      }
      @media screen and (max-width: 576px) {
        padding-right: 5px;
        margin-left: 5px;
      }
      &.profile-top-head,
      &.register-top-head {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      &.about-top-head {
        @media screen and (max-width: 576px) {
          border: 0;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}
