body{
    font-family: $font-family !important;
    font-size: 14px !important;
    color: $text !important;
    margin:0px;
    &.overflow{
        overflow: hidden;
    }
}

h1{
    font-size: 35px;
}
h2{
    font-size: 29px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5,p{
    font-size: 16px;  
}
h6{
  font-size: 14px;  
}


h1,h2,h3,h4,h5,h6{
    font-weight: $bold;
    line-height: 40px;
    margin-bottom: 0px;
}

.clear{
    clear: both;
}

a{
    text-decoration: none;
    color:$text;
    &:hover{
        color: $text;
    }
}

ul{
    margin: 0;
    padding: 0;
}

button.btn{
    height: 35px;
    padding: 0 20px;
    border-radius: 0px;
}

.noDisplay{
    display: none !important;
}

.showDisplay{
    display: block !important
}

.__react_component_tooltip{
    padding: 5px 8px !important; 
}