// fonts
$thin: lighter;
$regular:normal;
$bold:bold;
$font-family : 'Roboto';
$sec-font-family:'PlayfairDisplay';

// colors
$white: #fff;
$border: #e4e4e4;
$black: #000;
$text: #00263D;
$light-bg: #F1F1F1;
$border-color:#D1D1D1;
$box-shadow : 0 4px 12px rgba(199,197,197,0.5);

$primary:#f2c900;
$secondary: #48b5dc;
$disabled: #F1F1F1;
