// fonts
$thin: lighter;
$regular:normal;
$bold:bold;
$font-family : 'Quicksand';
// colors
$white: #fff;
$border: #e4e4e4;
$black: #000;
$text: #00263D;
$light-bg: #F8F8F8;
$border-color:#D1D1D1;
$box-shadow : 0 4px 12px rgba(199,197,197,0.5);

$primary:#61ce70;
$secondary: #48b5dc;
$tertiary: #f2c900;
$disabled: #F1F1F1;
