@import 'fonts';
@import 'variables';
@import 'base';
@import './Layouts/layouts';

// Pages
@import './Pages/home';

//Components
@import './Components/header';
@import './Components/carousel';
@import './Components/card';
@import './Components/popularSlider';
@import './Components/footer';
@import './Components/listing';

// Components > Listing
@import './Components/Listing/filter';
@import './Components/Listing/productList';
@import './Components/Listing/stickyFilter';

//Components > Details
@import './Components/Detail/detailSlider';
@import './Components/Detail/productSpecs';
@import './Components/Detail/otherDetails';


