.product-lists{
    @media screen and (max-width:480px) {
        margin-top: 5px;
    }
    .sorting-page{
        margin-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width:992px) {
            margin-left: 30px;
        }
        @media screen and (max-width:767px) {
            margin-left: 0px;
            display: none;
        }
        .view-sort{
            display: flex;
            align-items: center;
            .type-icon{
                .list-icon{
                    margin-right: 15px;
                    font-size: 18px;
                    border: 1px solid $border-color;
                    padding: 2px;
                    color: $border-color;
                    &:first-child{
                        color: $primary-color;
                        border-color: $primary-color;
                    }
                }
            }
        }
        .page-status{
            font-size: 12px;
            color: #8d94ac;
        }
    }
    .card-list{
        margin-left: 40px;
        margin-top: 40px;
        @media screen and (max-width:992px) {
            margin-left: 30px;
            margin-top: 30px;
        }
        @media screen and (max-width:767px) {
            margin-left: 0px;
            margin-top: 10px;
        }
        .product-card{
            padding: 0;
            margin-bottom: 30px;
        }
    }
    .sticky-filter{
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 9;
        display: flex;
        background: #fff;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-top: 1px solid #eee;
        box-shadow: 2px -2px 8px 0 rgba(128, 128, 128, 0.37);
        font-size: 14px;
        .filter-type{
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #e0e0e0;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
            &:last-child{
                border-right: 0px;
            }
            img{
                height: 25px;
            }
        }
    }
}